*{
margin: 0;
padding: 0;

}

body{

  background-image: url(dl.1.jpg);
  background-size: cover;

}

.image{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    background:radial-gradient(skyblue,white);
    width: 100%; 
height: auto;

  }




.image img{
  margin: 20px;
  padding: -40px;
  width: 200px;
  height: 30px;
  top: 20%;

  border:  3px solid  rgb(182, 209, 240);
  border-radius: 10px;
  

}
.manu{
  background-color: chartreuse;
 
}
  .menu ul{
    background:radial-gradient(skyblue,white) ;
    display: inline-flex;
  text-align: none;
    width: 100%;
    
    

    
  }
  .menu ul li{
    width: 15% ;
    font: 3.2rem molot;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 red, 0 1px 9px pink;
   text-align:center;
    display:block;
    cursor: pointer;
    border: 2px solid rgb(129, 205, 235);
    border-radius: 40px;
    background: radial-gradient(green,white);
    
  }

  .menu ul li a:hover{
     
     color: green;
  
      
  }

  .menu img{
  
    cursor: pointer;

  }





  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background:radial-gradient(skyblue,white);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 1px 1px red,0 0 10px pink;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: green;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }